.maxWidth{
    width: 100%
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.align-center{
    align-content: center;
    text-align: center;
}

.cardheight{
    max-height: 143px;
    overflow: auto;
}


.card-size-minimum{
    min-width:120px;
    min-height:150px;
    max-width:120px;
    max-height:150px;    
}

.fill-area{
    display: inline-flex;
    height: 100%;
}